@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: ligth) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .section-header {
    @apply text-[32px] leading-[54px] font-Inter font-bold;
  }
  .text-primary {
    @apply text-tertiary400;
  }
  .text-secondary {
    @apply text-tertiary800;
  }
}
button {
  cursor: pointer;
}
.royalVioletGradient {
  background: linear-gradient(100.9deg, #2f1566 5.85%, #5e2acc 91.92%);
}

.text-gradient-orange {
  background: linear-gradient(97.83deg, #ffb31d 3.46%, #ff3784 106.92%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-gray {
  background: rgba(131, 142, 158, 1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.custom-shape {
  position: relative;
  width: 209px;
  height: 59px;
  background-color: #915dff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -19px;
  margin-top: 24px;
}

.text {
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  z-index: 1; /* Metni üstte tutar */
}

.custom-shape::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 55px solid #fff;
  border-left: 45px solid transparent;
}

.custom-shape::before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 19px 19px 0;
  border-color: transparent rgba(30, 13, 68, 1) transparent transparent;
  transform: rotate(0deg);
  position: absolute;
  top: 100%;
  left: 0;
}
.custom-animation {
  animation: slideDown 0.35s ease-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.embla {
  flex: 0 0 auto;
  max-width: 40%;
  margin: auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  width: 100%; /* Tüm genişliği kapsaması için */
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%; /* Tüm slide'lar eşit genişlikte olacak şekilde */
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide:nth-child(1),
.embla__slide:nth-child(2),
.embla__slide:nth-child(3),
.embla__slide:nth-child(4) {
  flex: 0 0 100%; /* Tüm ürünler eşit genişlikte olacak şekilde */
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  margin-top: 1rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;
  background-color: #f3f3f6;
  border-radius: 12px;
  position: absolute;
  top: -26%;
  right: 0;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__selected-snap-display {
  justify-self: flex-end;
  align-self: center;
  color: var(--text-low-contrast);
  font-weight: 600;
}
.bg-testimonials-pattern{
  background: linear-gradient(101.58deg, rgba(23, 10, 51, 0.8) 2.48%, rgba(69, 30, 153, 0.8) 156.82%), url('/assets/images/testimonials-bg.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
}